<div class="text-center mt-3">
  <h2>Conicidencias encontradas - {{ pagination.totalCount }}</h2>
</div>

<div class="container mt-3">
  <form class="form-inline" #form="ngForm" (ngSubmit)="getUsers()" novalidate>
    <div class="form-group">
      <label for="minAge">Edad mínima</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="edadMin"
        name="edadMin"
        [(ngModel)]="userParams.edadMin"
      />
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Edad máxima</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="edadMax"
        name="edadMax"
        [(ngModel)]="userParams.edadMax"
      />
    </div>

    <div class="form-group px-2">
      <label for="genero">Ver: </label>
      <select
        class="form-control ml-1"
        style="width: 130px"
        id="genero"
        name="genero"
        [(ngModel)]="userParams.genero"
      >
        <option *ngFor="let genero of generos" [value]="genero.value">
          {{ genero.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">
      Filtrar
    </button>
    <button
      type="button"
      (click)="limpiarFiltros()"
      class="btn btn-info"
      style="margin-left:10px"
    >
      Limpiar
    </button>
    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          btnRadio="ultimaConexion"
          (click)="getUsers()"
        >
          Ultimos activos
        </button>
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          btnRadio="fechaCreacion"
          (click)="getUsers()"
        >
          Nuevos miembros
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalCount"
    [itemsPerPage]="pagination.pageSize"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
