<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.fotoUrl}}" alt="{{user.nombre}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.ciudad}}, {{user.pais}}</p>
          </div>
          <div>
            <strong>Edad:</strong>
            <p>{{user.edad}}</p>
          </div>
          <div>
            <strong>Ultima conexion:</strong>
            <p>{{user.ultimaConexion}}</p>
          </div>
          <div>
            <strong>Miembro desde:</strong>
            <p>{{user.fechaCreacion}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Me gusta</button>
            <button class="btn btn-success w-100">Mensaje</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Sobre {{user?.nombre}}">
            <h4>Descripcion</h4>
            <p>{{user.introduccion}}</p>
            <h4>Buscando</h4>
            <p>{{user.buscando}}</p>
          </tab>
          <tab heading="Intereses">
            <h4>Intereses</h4>
            <p>{{user.intereses}}</p>
          </tab>
          <tab heading="Fotos">
            <p>Aqui iran las fotos</p>
          </tab>
          <tab heading="Mensajes">
            <p>Aqui iran los mensajes</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>