<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Encuentra una cita</h1>
    <p class="lead">
      ¡Ven a ver tus partidos ... Todo lo que necesitás hacer es registrarte!
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerMode = true">
        Regístrate gratís
      </button>

      <div class="mt-4">
        <hr />
        <p>
          O puedes dar una vuelta ingresando como invitado!
        </p>
        <button class="btn btn-outline-dark" (click)="loginInvitado()">Ingresar como invitado</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-8">
        <app-register
          *ngIf="registerMode"
          (cancelRegister)="registerMode = false"
        ></app-register>
      </div>
    </div>
  </div>
</div>
